@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,300;0,400;0,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto';
}

body {
    font-family: 'Roboto';
}

.foto {
    width: auto;
    height: 35%;
    max-width: 35%;
    border-radius: 50%;
    border: 4px solid #7d9ee6;
}

.nomeh1 {
    font-size: 35px;
    font-weight: bold;
}

.botao {
    background-color: #7d9ee6;
    color: #fff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: #b0c5f3;
    color: #fff;
    text-decoration: none;
    border: none;
}

.botao i {
    font-size: 30px;
    text-align: center;
}

.botao i:hover {
    font-size: 30px;
    text-align: center;
}

.textRodape {
    color: #f5f5f5;
    font-family: 'Roboto';
}